<b> Using Pandas <b>

In [1]:
import pandas as pd 
import time

In [2]:
start_time = time.time()
df = pd.read_csv('C:\\Users\\ASUS\\OneDrive\\Big_Data_Analytics\\Dataset\\big_data_userid.csv')
print("--- %s seconds ---" % (time.time() - start_time))
df.head(10)

--- 0.7230632305145264 seconds ---

   Unnamed: 0  log_user_id created_date
0           0     40145156   2021-02-11
1           1     42728933   2021-12-19
2           2     44489223   2021-07-03
3           3     44111826   2021-08-12
4           4     48657707   2020-12-21
5           5     40266957   2021-02-14
6           6     40134977   2021-02-11
7           7     43899032   2021-03-29
8           8     47270036   2020-10-09
9           9     40553051   2021-02-07

In [3]:
df.drop(columns = {'Unnamed: 0'},inplace=True)

In [4]:
start_time = time.time()
calculation = df.groupby('created_date').count().reset_index().rename(columns={'log_user_id':'Total_Users'}).sort_values(by=['created_date'], ascending=False)
print("--- %s seconds ---" % (time.time() - start_time))
calculation.head(10)

--- 0.17639589309692383 seconds ---

     created_date  Total_Users
2795   2022-06-14         1345
2794   2022-06-13         1444
2793   2022-06-12         3549
2792   2022-06-11         1912
2791   2022-06-10         1614
2790   2022-06-09         1938
2789   2022-06-08         3155
2788   2022-06-07         1632
2787   2022-06-06         1607
2786   2022-06-05         2717

In [5]:
df.count()

log_user_id     2794596
created_date    2794596
dtype: int64

<b> Using Spark <b>

In [10]:
from pyspark.sql import SparkSession

In [11]:
spark = SparkSession.builder.config("spark.driver.memory", "15g").config("spark.executor.cores",16).getOrCreate()

In [17]:
start_time = time.time()
spark_df = spark.read.csv('C:\\Users\\ASUS\\OneDrive\\Big_Data_Analytics\\Dataset\\big_data_userid.csv',header=True)
print("--- %s seconds ---" % (time.time() - start_time))
spark_df.show(10)

--- 0.1419990062713623 seconds ---
+---+-----------+------------+
|_c0|log_user_id|created_date|
+---+-----------+------------+
|  0|   40145156|  2021-02-11|
|  1|   42728933|  2021-12-19|
|  2|   44489223|  2021-07-03|
|  3|   44111826|  2021-08-12|
|  4|   48657707|  2020-12-21|
|  5|   40266957|  2021-02-14|
|  6|   40134977|  2021-02-11|
|  7|   43899032|  2021-03-29|
|  8|   47270036|  2020-10-09|
|  9|   40553051|  2021-02-07|
+---+-----------+------------+
only showing top 10 rows

In [22]:
spark_df = spark_df.drop('_c0')

In [23]:
spark_df = spark_df.cache()

In [24]:
start_time = time.time()
spark_calculation = spark_df.groupBy('created_date').count().orderBy('created_date',ascending=False)
spark_calculation.show()
print("--- %s seconds ---" % (time.time() - start_time))

+------------+-----+
|created_date|count|
+------------+-----+
|  2022-06-14| 1345|
|  2022-06-13| 1444|
|  2022-06-12| 3549|
|  2022-06-11| 1912|
|  2022-06-10| 1614|
|  2022-06-09| 1938|
|  2022-06-08| 3155|
|  2022-06-07| 1632|
|  2022-06-06| 1607|
|  2022-06-05| 2717|
|  2022-06-04| 1640|
|  2022-06-03| 1557|
|  2022-06-02| 2436|
|  2022-06-01| 1554|
|  2022-05-31| 1034|
|  2022-05-30| 1410|
|  2022-05-29| 1423|
|  2022-05-28| 6985|
|  2022-05-27| 1209|
|  2022-05-26| 1190|
+------------+-----+
only showing top 20 rows

--- 1.500025987625122 seconds ---

In [28]:
thang6 = spark.read.csv('C:\\Users\\ASUS\\OneDrive\\Big_Data_Analytics\\Dataset\\thang6.csv',header=True)
start_time = time.time()
print("--- %s seconds ---" % (time.time() - start_time))

--- 0.0 seconds ---

In [30]:
start_time = time.time()
thang6.count()
print("--- %s seconds ---" % (time.time() - start_time))

--- 1.5583248138427734 seconds ---

In [33]:
thang6.show()

+--------+--------------------+---------------+---------+
| user_id|         contentName|     screenName|TotalView|
+--------+--------------------+---------------+---------+
|41855624|             VTV1 HD|Truyền hình Box|        5|
|92756298|             VTV1 HD|    Truyền hình|     3542|
|49557251|             Gia Lai|Truyền hình Box|      188|
|41987146|One Punch Man Sea...| Chi tiết video|        3|
|95819596|             F-Event|    Truyền Hình|        2|
|40521418|             VTV1 HD|    Truyền hình|       26|
|44085170|             VTV8 HD|Truyền hình Box|       15|
|49800362|          Hà Tĩnh HD|External Search|       13|
|40099749|      Vĩnh Long 3 HD|    Truyền hình|       45|
|49978137|           Hậu Giang|    Truyền Hình|       40|
|98378789|        Võ Tắc Thiên|      Xem video|       31|
| 4943949|           Sóc Trăng|Truyền hình Box|        1|
|44601371|            VTC16 HD|    Truyền hình|       54|
|49755687|             VTV1 HD|    Truyền hình|      340|
|49159856|             Bắc Kạn|External Search|       44|
|98178165|          Thể Thao 3|Truyền hình Box|       10|
|42656155|           Đồng Tháp|Truyền hình Box|       90|
|49995467|     Bầu Trời Rực Đỏ|      Xem video|       11|
| 7688810|             VTV2 HD|    Truyền hình|      138|
|43987302|             VTV3 HD|Truyền hình Box|       13|
+--------+--------------------+---------------+---------+
only showing top 20 rows

In [34]:
thang6.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- contentName: string (nullable = true)
 |-- screenName: string (nullable = true)
 |-- TotalView: string (nullable = true)