In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import when
from pyspark.sql.functions import col
from pyspark.sql.types import * 
from pyspark.sql.functions import lit
import pyodbc
import pandas as pd
import pyspark.sql.functions as sf

In [2]:
spark = SparkSession.builder.config("spark.driver.memory", "15g").getOrCreate()

In [3]:
df = spark.read.csv('C:\\Users\\ASUS\\OneDrive\\Big_Data_Analytics\\BigData_Gen2\\Class 4\\DF_clean\\*.csv',header=True)

In [4]:
df.show()

+---------+-----------+----------+-------------+
| Contract|       Type|      Date|TotalDuration|
+---------+-----------+----------+-------------+
|HNJ141458|Truyền Hình|2022-04-01|        47349|
|SGJ147370|Truyền Hình|2022-04-01|        83331|
|HNFD80728|Truyền Hình|2022-04-01|        91636|
|SGH574803|Truyền Hình|2022-04-01|       113492|
|NTFD92901|Truyền Hình|2022-04-01|        18944|
|TBD015606|Phim Truyện|2022-04-01|        20586|
|AGFD54302|Truyền Hình|2022-04-01|        11860|
|SGH919014|Truyền Hình|2022-04-01|        55429|
|NTFD63152|Truyền Hình|2022-04-01|        18886|
|BTFD15886|Phim Truyện|2022-04-01|         6007|
|HND095909|Phim Truyện|2022-04-01|        16441|
|SGH209300|Truyền Hình|2022-04-01|        25527|
|NND000787|Truyền Hình|2022-04-01|          175|
|DNFD68426|Phim Truyện|2022-04-01|         3563|
|CBFD05588|Truyền Hình|2022-04-01|        62005|
|HTFD01984|Truyền Hình|2022-04-01|        81976|
|GLD014406|Truyền Hình|2022-04-01|        81937|
|DNAAA1260|Truyền Hình|2022-04-01|        18791|
|HNAAA7079|Truyền Hình|2022-04-01|        23953|
|NDFD27791|Phim Truyện|2022-04-01|         6621|
+---------+-----------+----------+-------------+
only showing top 20 rows

In [5]:
df = df.drop('Date')

In [6]:
df = df.groupBy('Contract','Type').agg({'TotalDuration':'sum'}).withColumnRenamed('sum(TotalDuration)','TotalDuration')

In [7]:
df.show()

+---------+-----------+-------------+
| Contract|       Type|TotalDuration|
+---------+-----------+-------------+
|BNFD59512|Truyền Hình|     153698.0|
|TVFD16705|Truyền Hình|      44385.0|
|HPFD98012|Truyền Hình|     133127.0|
|DNH022378|Truyền Hình|    2092483.0|
|QNFD70139|Truyền Hình|     191407.0|
|HNH775587|Truyền Hình|     131193.0|
|SGH534557|Truyền Hình|     393271.0|
|BEFD03370|   Giải Trí|       6550.0|
|KTFD03928|Phim Truyện|       7409.0|
|SGH694318|Truyền Hình|     891425.0|
|HNH480736|Truyền Hình|     734792.0|
|HPFD59060|Truyền Hình|     147633.0|
|HNH643441|Truyền Hình|     100405.0|
|LAFD14563|Truyền Hình|     287877.0|
|QAD014188|Truyền Hình|     410384.0|
|BDD054548|Truyền Hình|     637793.0|
|TBD018795|Truyền Hình|     350296.0|
|HNH760579|Truyền Hình|     303952.0|
|GLAAA0362|Truyền Hình|     504477.0|
|SGH978411|Truyền Hình|     103046.0|
+---------+-----------+-------------+
only showing top 20 rows

In [8]:
df.count()

2729281

In [10]:
df.select('Type').distinct().show()

+-----------+
|       Type|
+-----------+
|   Thể Thao|
|Truyền Hình|
|  Thiếu Nhi|
|   Giải Trí|
|      Error|
|Phim Truyện|
+-----------+

In [11]:
df = df.filter(df.Type != 'Error')

In [12]:
TV = df.filter(df.Type == 'Truyền Hình')
Sport = df.filter(df.Type == 'Thể Thao')
Child = df.filter(df.Type == 'Thiếu Nhi')
Relax = df.filter(df.Type == 'Giải Trí')
Movie = df.filter(df.Type == 'Phim Truyện')

In [15]:
TV = TV.drop('Type').withColumnRenamed('TotalDuration','TVDuration')
Sport = Sport.drop('Type').withColumnRenamed('TotalDuration','SportDuration')
Child = Child.drop('Type').withColumnRenamed('TotalDuration','ChildDuration')
Relax = Relax.drop('Type').withColumnRenamed('TotalDuration','RelaxDuration')
Movie = Movie.drop('Type').withColumnRenamed('TotalDuration','MovieDuration')

In [29]:
TV

DataFrame[Contract: string, TVDuration: double]

In [30]:
Sport

DataFrame[Contract: string, SportDuration: double]

In [31]:
Child

DataFrame[Contract: string, ChildDuration: double]

In [28]:
TV.join(Sport,TV.Contract==Sport.Contract,'outer')

DataFrame[Contract: string, TVDuration: double, Contract: string, SportDuration: double]